body {
    background: url("../img/hojas.jpg");
    background-attachment: fixed;
}

#logo {
    background: #0e4921;
}

#menu ul li:hover {
    background: #0b792e;
}

.button-more {
    background: #004115;
}